///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;
$global-font-family: 'Mukta Vaani', sans-serif;
$global-ratios: (
  (1:1),
  (2:1),
  (4:3),
  (16:9),
);
