///* ========================================================================
//   #COLORS
//   ======================================================================== */

$white:     #fff;
$mercury:   #e3e3e3;
$firefly:   #0b2027;
$halfbaked: #76b3cc;
$ming:      #40798c;
$tasman:    #cfd7c7;
$coconut:   #f6f1d1;
$mojo:      #c45336;
$parsley:   #2c6020;
