///* ========================================================================
//   #BREAKPOINTS
//   ======================================================================== */

$mq-breakpoints: (
    minimal:   321px,
    compact:   415px,
    small:     769px,
    reduced:   861px,
    standard: 1025px,
    extended: 1380px
);
