/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
  overflow: hidden;
  min-height: 100%; /* [3] */
  font-family: $global-font-family;
  color: $coconut;
}

body {
  background-color: $coconut;
  transition: background-color .2s;
  min-height: 100%;
}
