/* ==========================================================================
   #GRIDS
   ========================================================================== */

.o-grid {
  display: grid;
  grid-template-columns: [col1-start] 20% [col2-start] 1fr [col3-start] 1fr [col4-start] 1fr [col5-start] 20% [col5-end];
  grid-template-rows: [row1-start] 20% [row2-start] 1fr [row3-start] 1fr [row4-start] 1fr [row5-start] 20% [row5-end];
  grid-template-areas:
    ". header header header ."
    ". sidebar . main ."
    ". footer footer footer .";
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.o-grid__item--header {
  grid-area: header;
}

.o-grid__item--main {
  grid-area: main;
}

.o-grid__item--sidebar {
  grid-area: sidebar;
}

.o-grid__item--footer {
  grid-area: footer;
}

/* justify content */
.o-grid--justify-start {
  justify-content: start;
}

.o-grid--justify-end {
  justify-content: end;
}

.o-grid--justify-center {
  justify-content: center;
}

.o-grid--justify-stretch {
  justify-content: stretch;
}

.o-grid--justify-space-around {
  justify-content: space-around;
}

.o-grid--justify-space-between {
  justify-content: space-between;
}

.o-grid--justify-space-evenly {
  justify-content: space-evenly;
}

/* align content */
.o-grid--align-start {
  align-content: start;
}

.o-grid--align-end {
  align-content: end;
}

.o-grid--align-center {
  align-content: center;
}

.o-grid--align-stretch {
  align-content: stretch;
}

.o-grid--align-space-around {
  align-content: space-around;
}

.o-grid--align-space-between {
  align-content: space-between;
}

.o-grid--align-space-evenly {
  align-content: space-evenly;
}

/* item justify */
.o-grid__item--justify-start {
  justify-self: start;
}

.o-grid__item--justify-end {
  justify-self: end;
}

.o-grid__item--justify-center {
  justify-self: center;
}

.o-grid__item--justify-stretch {
  justify-self: stretch;
}

/* item align */
.o-grid__item--align-start {
  align-self: start;
}

.o-grid__item--align-end {
  align-self: end;
}

.o-grid__item--align-center {
  align-self: center;
}

.o-grid__item--align-stretch {
  align-self: stretch;
}
