/* ==========================================================================
   #FIGURES
   ========================================================================== */

.o-figure {
  margin: 0;
  position: relative;
  z-index: 1;
}

.o-figure--small {
  width: 20%;
}

.o-figure--medium {
  width: 40%;
}

.o-figure--large {
  width: 80%;
}

.o-figure--fill {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.o-figure--cover img,
.o-figure--cover picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
