/* ==========================================================================
   #ANIMATIONS
   ========================================================================== */

 @keyframes heart-beats {
   0%   { transform: scale(1)   translate(0,.1vw); transform-origin: 100% 100%; }
   7%   { transform: scale(1.2) translate(0,.4vw); }
   12%  { transform: scale(1.1) translate(0,.3vw); }
   20%  { transform: scale(1.3) translate(0,.5vw); }
   60%  { transform: scale(1)   translate(0,.1vw); }
   100% { transform: scale(1)   translate(0,.1vw); transform-origin: 100% 100%; }
 }

 // @keyframes throw-up {
 //   0%   { transform: rotate(0deg)   translate(0,0); transform-origin: 100% 100%; }
 //   50%  { transform: rotate(0deg)   translate(0,-100px); }
 //   100% { transform: rotate(0deg)   translate(0,0); transform-origin: 100% 100%; }
 // }
