/* ========================================================================
   #COLORS
   ======================================================================== */

// A mixin to spit out color, fill and background classes.

@mixin color($color-name, $color-hex) {

  .u-color-#{$color-name} {
    color: $color-hex;
  }

  .u-fill-#{$color-name} {
    fill: $color-hex;
  }

  .u-bg-#{$color-name} {
    background-color: $color-hex;
  }

  .u-border-#{$color-name} {
    border-color: $color-hex;
  }

  .u-hover-#{$color-name}:hover {
    color: $color-hex;
  }

  .u-progress-#{$color-name} {
    &::-webkit-progress-value {
      background: $color-hex;
    }
    &::-moz-progress-bar {
      background: $color-hex;
    }
    &::-ms-fill {
      background: $color-hex;
    }
  }

  .u-line-#{$color-name}::after {
    background-color: $color-hex;
  }

}

@include color(white,     $white);
@include color(mercury,   $mercury);
@include color(firefly,   $firefly);
@include color(halfbaked, $halfbaked);
@include color(ming,      $ming);
@include color(tasman,    $tasman);
@include color(coconut,   $coconut);
