/* ==========================================================================
   #LOGOS
   ========================================================================== */

.c-logo {
  z-index: 3;
  position: fixed;
  margin: auto;
  top: auto;
  right: auto;
  left: 10px;
  bottom: 10px;
  width: 150px;
  height: 162px;
  transform: translate3d(0,0,0);
}

.c-logo--outside {
  left: -150px;
}

#mouth {
  visibility: hidden;
  &.is-visible {
    visibility: visible;
  }
  .c-logo:hover & {
    visibility: hidden;
  }
}

#body-closed-eye {
  visibility: hidden;
  &.is-visible,
  .c-logo:hover & {
    visibility: visible;
  }
}

#body-closed-mouth {
  visibility: hidden;
  &.is-visible {
    visibility: visible;
  }
  .c-logo:hover & {
    visibility: hidden;
  }
}

.c-icon-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  transition: opacity .5s;

  body.is-loaded & {
    opacity: 0;
  }
}
