/* ==========================================================================
   #PAGES
   ========================================================================== */

.c-page {
  position: fixed;
  margin: auto;
  display: block;
  overflow: hidden;
  transition: all .2s;
  transform: translate(0,0);
  transition: all .5s ease-in 1s, opacity .5s ease-in 0s;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 0;
  height: 0;

  &.is-focused {
    transition: all .5s ease-in 0s, opacity .5s ease-in 2s;
    width: calc(100vw - 20px);
    height: calc(100vh - 215px);
    top: 120px;
    left: 10px;
    right: 10px;
    bottom: 120px;
    opacity: 1;

    .c-page__container {
      max-width: 50vw;
      min-width: 500px;
      margin-left: 2vw;
    }
  }
}

  .c-page__background {
    width: 90vw;
    height: 80vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
  }

  .c-page__content {
    opacity: 0;
    margin: auto;
    color: $firefly;
    transition: all .2s .5s;

    p {
      transition: all .2s 1.5s;
      padding: 50px;
      opacity: 0;
    }

    .c-page.is-focused & {
      height: 70%;
      opacity: 1;

      p {
        opacity: 1;
      }
    }
  }

    .c-page__title {
      font-size: 100vw;
      font-weight: 700;
      color: $firefly;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .2s;
      position: absolute;
      margin: auto;
      top: -25px;
      left: -10px;
      opacity: 0;
    }
