/* ==========================================================================
   #CONTAINERS
   ========================================================================== */

.c-container {
  z-index: 1;
  position: fixed;
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all .2s;
  overflow: hidden;
  background-color: $tasman;
  overflow: hidden;
  display: flex;
  justify-content: center;

  body.is-loaded & {
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    top: 42px;

    &::before {
      opacity: 1;
    }

    &.is-expanded {
      transition: all cubic-bezier(.17,.67,.88,-0.55) .8s;
      width: calc(100vw - 20px);
      height: calc(100vh - 178px);
    }
  }

}
