/* ==========================================================================
   #NAVIGATIONS
   ========================================================================== */

.c-nav {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  transition: all 1s ease-in 1s;
  opacity: 0;

  body.is-loaded & {
    opacity: 1;
  }
}

  .c-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

    .c-nav__list-item {
      display: inline-block;
    }

      #burrito-link {
        transition-delay: 1s;
        background-color: rgba($parsley,.1);
        &.is-ready {
          bottom: calc(40% - 200px);
          right: calc(30% - 200px);
        }
        &.is-away {
          top: 10px;
          left: 10px;
          bottom: calc(100% - 110px);
          right: calc(100% - 10px);
        }
      }
      #taco-link {
        transition-delay: 1.2s;
        background-color: rgba($halfbaked,.1);
        &.is-ready {
          bottom: calc(40% - 200px);
          left: calc(30% - 200px);
        }
        &.is-away {
          top: 10px;
          left: 110px;
          bottom: calc(100% - 110px);
          right: calc(100% - 210px);
        }
      }
      #nacho-link {
        transition-delay: 1.4s;
        background-color: rgba($firefly,.1);
        &.is-ready {
          transition-delay: 0;
          top: calc(40% - 200px);
          right: calc(30% - 200px);
        }
        &.is-away {
          top: 10px;
          left: 210px;
          bottom: calc(100% - 110px);
          right: calc(100% - 310px);
        }
      }
      #sombrero-link {
        transition-delay: 1.6s;
        background-color: rgba($mojo,.1);
        &.is-ready {
          top: calc(40% - 200px);
          left: calc(30% - 200px);
        }
        &.is-away {
          transition-delay: 0;
          top: 10px;
          left: 310px;
          bottom: calc(100% - 110px);
          right: calc(100% - 410px);
        }
      }

      .c-nav__list-link {
        display: block;
        position: absolute;
        margin: auto;
        transition: all 1s ease-in;
        width: 200px;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        svg {
          transition: all 1s ease-in;
          width: 100px;
          height: 100px;
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        &.is-ready {
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }
        &.is-away {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          width: 100px;
          height: 100px;
          svg {
            width: 50px;
            height: 50px;
          }
          &:hover {
            transition: all .2s ease-in-out 0s;
            transform: scale(1.2);
          }
        }
      }

        .c-nav__list-link-text {
          display: none;
        }
