/* ==========================================================================
   #HEADERS
   ========================================================================== */

.c-header {
  z-index: 2;
  position: absolute;
  transform: translate(-50%,0);
  margin: auto 50%;
  transition: all .2s .2s;
  text-align: center;

  &.is-away {
    transform: translate(100vw,0);
    margin: auto auto 0 0;
    transition: all .4s .4s;
  }
}
