/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  z-index: 3;
  position: absolute;
  top: auto;
  bottom: 50px;
  left: auto;
  right: 42px;
  margin: auto;
  width: calc(100% - 100px);
  display: block;
  transition: all 2s ease-in 1s;
  opacity: 0;
  text-align: right;

  body.is-loaded & {
    opacity: 1;
  }

  .c-container.is-expanded ~ & {
    bottom: 0;
  }
}

  .c-footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

    .c-footer__list-item {
      display: inline-block;
      width: auto;
      height: 100%;
      position: relative;
      transition-property: opacity;
      transition-duration: 0s;
      text-align: center;

      body.is-loaded & {
        opacity: 1;
      }
    }

      .c-footer__list-link {
        transition: all .2s;
        display: block;
        height: 100%;
        text-decoration: none;
        text-align: center;
        transform: translate(0, 2.4vw);

        &:hover {
          color: $halfbaked;
        }
      }

        .c-footer__list-link-text {
          font-size: 5.3vw;
          font-weight: 700;
          color: $coconut;
          text-decoration: none;
          text-transform: uppercase;
          text-decoration: none;
          text-align: center;
          display: block;
          transition: all .5s ease-in-out;
          transform-origin: 100% 100%;
          text-shadow: -1px -1px 1px $firefly;

          .c-footer__list-link.is-ready:hover & {
            transform: scale(1.3) translate(0,.6vw);
          }
          .c-footer__list-link.is-active & {
            color: $tasman;
            text-shadow: none;
          }
        }
