/* ==========================================================================
   #MASKS
   ========================================================================== */

.c-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $ming;
  z-index: 1;
  transition: all .2s;
  padding: 20%;
  clip-path: url(#mask-clip-small);
  -webkit-clip-path: polygon(50% 10%, 90% 10%, 90% 50%, 90% 90%, 50% 90%, 10% 90%, 10% 50%, 10% 10%);

  body.is-loaded & {
    clip-path: url(#mask-clip-large);
    -webkit-clip-path: polygon(50% 2%, 98% 2%, 98% 50%, 98% 98%, 50% 98%, 2% 98%, 2% 50%, 2% 2%);
  }

  body.is-loading & {
    clip-path: url(#mask-clip-cross);
    -webkit-clip-path: polygon(50% 50%, 90% 10%, 50% 50%, 90% 90%, 50% 50%, 10% 90%, 50% 50%, 10% 10%);
  }
}
