/* ==========================================================================
   #TITLES
   ========================================================================== */

.c-main-title {
  @include inuit-font-size(100px, auto, false);
  font-weight: 700;
  text-transform: uppercase;
  color: $tasman;
  transition: transform 1s cubic-bezier(0.05, 0.95, 0.05, 0.95) .5s, text-shadow 1s 1s;
  transform: translate(0,100%);
  margin-bottom: 0;

  body.is-loaded & {
    transform: translate(0,5%);
    text-shadow: -5px 0 0 $firefly;
  }
  header.is-away & {
    @include inuit-font-size(50px, auto, false);
    transform: translate(-120%,25%);
  }
}

svg.c-main-subtitle {
  display: block;
  fill: $coconut;
  text-transform: uppercase;
  text-overflow: clip;
  letter-spacing: 6px;
  text-shadow: 4px 4px 0 $tasman, 6px 6px 0 $coconut;
  overflow: visible;
  width: 150px;
  height: auto;
  margin: auto;
  position: fixed;
  right: -200px;
  bottom: 50px;
  opacity: 0;
  transition: 1s ease-out .5s;
  body.is-loaded & {
    opacity: 1;
  }
  .c-header.is-away & {
    transition: .2s ease-out 0s;
    opacity: 0;
  }
}
